:root {
--primary-light: #f9f2db;
--primary-dark: #4c2416;
}

h3,h4,h5{
    margin:0;
    padding:0;
}
a:link, a:visited {
 color: var(--primary-dark);
}

body, html {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: var(--primary-light);
    color: var(--primary-dark)
  }

  .header{
    position: relative;
    padding: 0px;
    width:100%;
    text-align:center;
  }
  .title{
      position: relative;
      top: 25px;
      left: 50%;
      transform: translate(-50%, 0%);
      height: 150px;
      width:auto;
      z-index: 100;
  }

  .big{
    height: 250px;
  }
  
  .header {
    color: rgba(0, 0, 0, 0.82);
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 3%;
    width: 100%;
    color: white;
    text-align: center;
    pointer-events: none;
  }
  
  button {
    background-color: var(--primary-dark);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    z-index: 100;
    pointer-events: all;
  }

.map{
    z-index: 1;
}

.pos{
    position: absolute;
    left: var(--x);
    top: var(--y);
    z-index: 1;
}

.encounter {
    width: 80px;
    height: 80px;
    cursor: pointer;
   }
.encounter:hover{
    -webkit-filter: drop-shadow(2px 2px 0 red)
    drop-shadow(-2px -2px 0 red);
    filter: drop-shadow(2px 2px 0 red) 
    drop-shadow(-2px -2px 0 red);
}

.city {
    width: 266px;
    height: 266px;
   }

.castle{
width: 200px;
height: 200px;
}

.wappen{
  width: 750px;
  height: 750px;
}

.building{
    width: 132;
    height: 132px;
    cursor: pointer;
}
.building:hover{
    -webkit-filter: drop-shadow(10px 10px 5px red)
    drop-shadow(-10px -10px 5px red);
    filter: drop-shadow(10px 10px 5px red) 
    drop-shadow(-10px -10px 5px red);
}


.infobox{
    bottom: 150px;
    width: 375px;
    height: 500px;
    background-color: grey;
    border-radius: 10px;
    border: solid black;
    border-width: 5px;
    display: none;
    justify-content: center;
    text-align: left;
    pointer-events:all;
}
.infotext{
    height: 400px !important;
    overflow: scroll !important;
}

.detailtext{
    position: relative;
    top: 15px !important;
    bottom: 15px !important;
    left: 10px;
    overflow: hidden;
    top:0;
    width: 350px;
    color: #f9f2db;
}

.list{
    text-align: center;
    top: 130px;
    position: relative;
}
.landing-list{
  text-align: center;
  top: 50px;
  position: relative;
}

nav {
    position: absolute;
    top: 30px;
    left: 50%;
    list-style-type: none;
    margin-top: 0;
    padding: 15px;
    overflow: hidden;
    transform: translate(-50%, 0%);
    z-index: 99;
    display: inline;
    white-space: nowrap;
    background-color: var(--primary-light);
    border-radius: 10px;
    border:solid var(--primary-dark);
    border-width: 5px;
  }

  ul{
    padding: 0;
  }
  
  li {
    
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    align-content: center;
    text-align: center;
  }
  
  .navicon{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .navicon:hover{
    -webkit-filter: drop-shadow(2px 1px 0 red)
    drop-shadow(-1px -1px 0 red);
    filter: drop-shadow(2px 1px 0 red) 
    drop-shadow(-1px -1px 0 red);
}

  .box{
    width: 375px;
    background-color: grey;
    border-radius: 10px;
    border: solid var(--primary-dark);
    border-width: 5px;
    display: inline-block;
    justify-content: center;
    text-align: left;
    padding-bottom: 20px;
  }

  .detailimg{
    width: 120px;
    height: 120px;
    float: right;
    border: solid #f9f2db;
    border-width:3px;
    border-radius: 15px;
  }

  .red{
    color:red;
  }
  .green{
    color:lightgreen;
  }

  .flex{
    display:flex;
    justify-content: center;
  }

  .mt25{
    margin-top: 25px;
  }
  .flex-child {
    flex: 1 1 auto;
    max-width: 40%;
  }
  .hidden{
    display: none;
  }
  .float-righ{
    float:right;
  }
  .anvil{
    height: 30px;
    float: left;
    margin-right: 10px;
  }  

  .bd-Characters,.bd-Quests, .bd-Landing {
    position: absolute;
  }
  .html-Characters, .html-Quests, .html-Landing{
    position: absolute;
  }

  .img-left{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
  }
  .landing-nav{
    width: 50px;
    height: 50px;
  }

  .img-right-bottom{
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .al-right{
    text-align: right;
  }

  .text-logo{
    display: inline-block;
    font-family: arial, sans-serif;
    margin: 0;
    font-size: 38px;
    font-weight: 900;
    color: var(--primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translate(0%, -5%);
  }

  .al-left{
    text-align: left;
  }

  .textframe{
    position:relative;
    top:130px;
    left: 50%;
    width: 375px;
    transform: translate(-50%, 0%);
  }