<header>
      <nav aria-label="main">
        <ul>
          <li><a href="{{ "/" | relURL }}"><img class = "navicon" src="{{ "/img/leshi1.png" | relURL }}"></img></a></li>
          <li><a href="{{ "map/" | relURL }}"><img class = "navicon" src="{{ "/img/rose.png" | relURL }}"></img></a></li>
          <li><a href="{{ "gronow/" | relURL }}"><img class = "navicon" src="{{ "/img/wappen.png" | relURL }}"></img></a></li>
          <li><a href="{{ "characters/" | relURL }}"><img class = "navicon" src="{{ "/img/character.png" | relURL }}"></img></a></li>
          <li><a href="{{ "quests/" | relURL }}"><img class = "navicon" src="{{ "/img/scroll.png" | relURL }}"></img></a></li>
          <li><a href="{{ "ressources/" | relURL }}"><img class = "navicon" src="{{ "/img/chest.png" | relURL }}"></img></a></li>
        </ul>
      </nav>
</header>