<header>
      <nav aria-label="main">
        <ul>
          <li><a href="{{ "/" | relURL }}" ontouchstart="venture({{ "/" | relURL }})"><img class = "navicon" src="{{ "/img/leshi1.png" | relURL }}"></img></a></li>
          <li><a href="{{ "map/" | relURL }}" ontouchstart="venture({{ "map/" | relURL }})"><img class = "navicon" src="{{ "/img/rose.png" | relURL }}"></img></a></li>
          <li><a href="{{ "gronow/" | relURL }}" ontouchstart="venture({{ "gronow/" | relURL }})"><img class = "navicon" src="{{ "/img/wappen.png" | relURL }}"></img></a></li>
          <li><a href="{{ "characters/" | relURL }}" ontouchstart="venture({{ "characters/" | relURL }})"><img class = "navicon" src="{{ "/img/character.png" | relURL }}"></img></a></li>
          <li><a href="{{ "quests/" | relURL }}" ontouchstart="venture({{ "quests/" | relURL }})"><img class = "navicon" src="{{ "/img/scroll.png" | relURL }}"></img></a></li>
          <li><a href="{{ "ressources/" | relURL }}" ontouchstart="venture({{ "ressources/" | relURL }})"><img class = "navicon" src="{{ "/img/chest.png" | relURL }}"></img></a></li>
        </ul>
      </nav>
</header>